html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.logo {
    color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-weight: 600;
}

.logo-bg {
    display: block;
    width: fit-content;
    color: aliceblue;
    background-color: darkblue;
    padding: 3px 10px;
    border-radius: 10px;
    margin-top: -4px;
}

.logo-fg {
    margin-left: 20px;
}

.width-30vw {
    width: 30vw;
}

.width-100 {
    width: 100%;
}

.bg-whitegrey {
    background-color: lightgray;
}

.font-size-12 {
    font-size: 12px;
}

.footer {
    margin-top: 30px;
}

.teachers-courses-wrapper {
    padding: 1em;
    display: flex;
}

.courses-sidebar {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 1em;
    width: 25vw;
    height: fit-content;
}

.courses-sidebar div {
    margin: 10px 0;
}

.add-course {
    font-weight: 600;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.add-course:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.side-title-course {
    color: black;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    gap: 7px;
}

.side-title-course:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    gap: 7px;
}

.content {
    margin-left: 3vw;
    background-color: #F0F0F0;
    border-radius: 10px;
    width: 75vw;
    word-break: break-word;
}

.active-link-sidebar{
    background-color: aliceblue;
    border-radius: 8px;
    padding: 3px 10px;
}
.start-test-wrapper{
    display: flex;
}
.side-test {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 1em;
    width: 16vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.timer {
    width: 10vw;
    height: 10vw;
    background-color: grey;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight:600;
}
.content-question {
    margin-left: 1rem;
    background-color: #F0F0F0;
    border-radius: 10px;
    width: 75vw;
    padding: 2rem;
    position: relative;
}
.nav-questions {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}
.nav-questions a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    gap: 7px;
}
.side-question-nav{
    background-color: grey;
    border-radius: 5px;
    font-weight: 500;
    padding: 3px 6px;
    border: 1px solid black;
}
.active-link-question {
    background-color: white;
    border-radius: 5px;
    font-weight: 500;
    padding: 3px 6px;
    border: 1px solid black;
}
.test-buttons{
    position: absolute;
    bottom: -3rem;
    left: 0;
}

.oneAnswer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 2rem;
}
.one{
    border: 1px solid black;
    padding: 15px 25px;
    border-radius: 10px;
}
.multipleAnswers {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.multi {
    border: 1px solid black;
    padding: 15px 25px;
    border-radius: 10px;
}