@model EduHub.Application.Models.Auth.EmailModel

<div class="m-3">
    <form method="post" asp-controller="Auth" asp-action="ForgotPasswordLink" class="d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-start width-30vw">
        <h2 class="">
            Forgot your password
        </h2>
        <h5>Enter your email address and we’ll send a link to reset your password.</h5>

       
        <div>
            <label asp-for="Email" class="text-secondary fs-6">E-mail</label><br/>
            <input asp-for="Email" class="rounded width-30vw"/>
            <span asp-validation-for="Email" class="text-danger fs-6"></span>
        </div>
      
        <div asp-validation-summary="ModelOnly" class="text-danger fs-6"></div>
        
        <br/>
        <div class="align-self-center mb-2">
            <input type="submit" value="Sent" class="btn btn-dark align-self-center px-5 rounded-sm text-center"/>
        </div>
    </div>
</form>

      <a class="nav-link text-dark" method="post" asp-controller="Auth" asp-action="Login">Back to Sign in</a>
</div>