@model EduHub.Application.Models.Auth.EmailModel

<div class="content m-3">
    <form method="post" asp-controller="Auth" asp-action="ForgotPasswordLink" class="d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-start p-3">
        <h4 class="">
            Forgot your password
        </h4>
        <h6>Enter your email address and we’ll send a link to reset your password.</h6>

       
        <div>
            <label asp-for="Email" class="text-secondary fs-6">E-mail</label><br/>
            <input asp-for="Email" class="rounded form-control"/>
            <span asp-validation-for="Email" class="text-danger fs-6"></span>
        </div>
      
        <div asp-validation-summary="ModelOnly" class="text-danger fs-6"></div>
        
        <br/>
        <div class=" ">
             <a class="btn btn-success" method="post" asp-controller="Auth" asp-action="Login">Back to Sign in</a>

            <input type="submit" value="Sent" class="btn btn-dark align-self-center px-5 rounded-sm text-center"/>
        </div>

    </div>
</form>

</div>