<div class="m-4">
    <h2 class="m-4">Thanks for verification</h2>
    <h4 class="m-4">Now you can sign in</h4>
    <a class="btn btn-dark align-self-center px-5 rounded-sm text-center" method="post" asp-controller="Auth" asp-action="Login">Sign in</a>
</div>
