@model EduHub.Application.Models.Profile.TeacherRequestModel;


<form asp-action="BecomeTeacher" asp-controller="Profile" method="post" enctype="multipart/form-data" class="m-3">
      <div>
            <label asp-for="ProofImage">Please add proof that you are teacher</label><br/>
            <input asp-for="ProofImage" value="Add photo" class="btn btn-secondary"/>
            <span asp-validation-for="ProofImage" class="text-danger fs-6"></span>
      </div>
      <div>
            <label asp-for="Text" class="text-secondary fs-6">Text</label><br/>
            <input asp-for="Text"  class="form-control" style="width: 300px"/>
            <span asp-validation-for="Text" class="text-danger fs-6"></span>
       </div>
       <div asp-validation-summary="ModelOnly"></div>
        <div class="d-flex mb-2 gap-3 mt-3">
           <button asp-controller="Profile" asp-action="MyProfile" class="btn btn-dark">Back</button>
           <input type="submit" value="Sent" class="btn btn-success"/>
        </div>   
</form>