@model EduHub.Application.Models.Profile.ChangePasswordModel;

<form asp-action="ChangePassword" asp-controller="Profile" method="post" enctype="multipart/form-data" class="form-group m-3">
    <h3>Change Password</h3>

      <div>
            <label asp-for="OldPassword">Old Password</label><br/>
            <input asp-for="OldPassword"  class="form-control" style="width: 300px;"/>
            <span asp-validation-for="OldPassword" class="text-danger fs-6"></span>
      </div>
      <div>
            <label asp-for="Password" class="text-secondary fs-6">New Password</label><br/>
            <input asp-for="Password"  class="form-control" style="width: 300px"/>
            <span asp-validation-for="Password" class="text-danger fs-6"></span>
      </div>
       <div>
            <label asp-for="PasswordConfirm" class="text-secondary fs-6">Password Confirm</label><br/>
            <input asp-for="PasswordConfirm"  class="form-control" style="width: 300px"/>
            <span asp-validation-for="PasswordConfirm" class="text-danger fs-6"></span>
      </div>
      <div asp-validation-summary="ModelOnly"></div>
       <div class="d-flex mb-2 gap-3 mt-3">
           <button asp-controller="Profile" asp-action="MyProfile" class="btn btn-dark">Back</button>
           <input type="submit" value="Change password" class="btn btn-success"/>
       </div>   
</form>