@model EduHub.Application.Models.Profile.ChangePasswordModel;


<form asp-action="ChangePassword" asp-controller="Profile" method="post" enctype="multipart/form-data" class="form-group">
    <table class="table">
        <tr>
            <td>
                <div>
                    <h6>
                        <label asp-for="OldPassword"></label>
                    </h6>
                    <input asp-for="OldPassword" class="form-control w-25"/>
                    <span asp-validation-for="OldPassword"></span>
                </div>
                <div>
                    <h6>
                        <label asp-for="Password"></label>
                    </h6>
                    <input asp-for="Password" class="form-control w-25"/>
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <h6>
                        <label asp-for="PasswordConfirm"></label>
                    </h6>
                    <input asp-for="PasswordConfirm" class="form-control w-25"/>
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <input type="submit" value="Change password" class="btn btn-success"/>
                </p>
                <button asp-controller="Profile" asp-action="MyProfile" class="btn btn-dark">Back</button>
            </td>
        </tr>
        <div asp-validation-summary="ModelOnly"></div>
    </table>
</form>