@model EduHub.Application.DTOs.TestResult.TestResultDTO;

<div class="m-2">
    <h1>Test Result: </h1>
    <h2 class="mt-3">Test: @Model?.Test?.Name</h2>
    <h3>Student: @Model?.Student?.FirstName  @Model?.Student?.LastName</h3>

    <h4>Percentage: @Model?.PercentageCorrrectAnswers %</h4>
    <h4>Points: @Model?.SumPoints/@Model?.TotalPoints  </h4>
</div>

